
<section id="pre-footer">
    <section class="footer-contact-info"><div class="container"><div class="col-md-4 clearfix"><i class="sl-location-pin"></i><span>Kadıköy: Acıbadem Mh. Akasya Evleri Sitesi <br>Kent Etabı No:25/A Kat.26 <br />Beylikdüzü: Cumhuriyet Mh. E-5 Karayolu  <br />Üzeri Vetro City, B Blok K:4 D:113  </span></div><div class="col-md-4 clearfix"><i class="sl-envelope-open"></i><span>bilgi@wora.com.tr<br> destek@wora.com.tr</span></div><div class="col-md-4 clearfix"><i class="sl-phone"></i><span>T: 0 850 317 45 75 <br>T: 0 216 970 13 72 <br />T: 0 212 620 03 13 <br /> F: 0 850 220 04 51 </span></div></div></section>
</section>
<footer id="footer">
    <section class="container footer-in">
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li id="nav_menu-1" class="widget widget_nav_menu">
                        <h5 class="subtitle">Featured Links</h5><div class="menu-footer-col-menu-container">
                            <ul id="menu-footer-col-menu" class="menu">
                                <li id="menu-item-9436" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9436"><a href="../about-us/index.html" data-description="">About Us</a></li>
                                <li id="menu-item-9437" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9437"><a href="../blog/index.html" data-description="">Blog</a></li>
                                <li id="menu-item-9438" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9438"><a href="../contact-us/index.html" data-description="">Contact Us</a></li>
                                <li id="menu-item-9439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9439"><a href="../groups/index.html" data-description="">Groups</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li id="nav_menu-1" class="widget widget_nav_menu">
                        <h5 class="subtitle">Featured Links</h5><div class="menu-footer-col-menu-container">
                            <ul id="menu-footer-col-menu" class="menu">
                                <li id="menu-item-9436" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9436"><a href="../about-us/index.html" data-description="">About Us</a></li>
                                <li id="menu-item-9437" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9437"><a href="../blog/index.html" data-description="">Blog</a></li>
                                <li id="menu-item-9438" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9438"><a href="../contact-us/index.html" data-description="">Contact Us</a></li>
                                <li id="menu-item-9439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9439"><a href="../groups/index.html" data-description="">Groups</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li id="michigan_webnus_subscribe_widget-2" class="widget widget_michigan_webnus_subscribe_widget"><h5 class="subtitle">Newsletter Signup</h5><form class="widget-subscribe-form" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onSubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><input type="hidden" value="" name="uri" /><input type="hidden" name="loc" value="en_US" /><p>Get an email of every new post! We will never share your address.</p><input placeholder="Example: name@gmail.com" class="colorr widget-subscribe-email" type="text" name="email" /><button class="widget-subscribe-submit" type="submit"><span>GO! </span></button></form></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- end-footer-in -->
    <section class="footbot">
        <div class="container">
            <div class="col-md-6">
                <div class="footer-navi f-left">
                    <img src="~/wp-content/wora/150x44beyaz.png" width="150" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-navi floatright">
                    <div class="socialfollow"><a target="_blank" href="#" class="facebook"><i class="fa-facebook"></i></a><a target="_blank" href="#" class="google-plus"><i class="fa-google-plus"></i></a><a target="_blank" href="#" class="linkedin"><i class="fa-linkedin"></i></a></div>
                </div>
            </div>

        </div>
    </section>	<!-- end-footbot -->
</footer>