<header id="header" class="res-menu horizontal-w  w-header-type-10  ">
    <div class="container">
        <div class="col-md-2 col-sm-2 logo-wrap ">
            <div class="logo">
                <a href="../index.html"><img src="~/wp-content/wora/wora.png" alt="logo" width="280" class="img-logo-w1"></a><a href="../index.html"><img src="/wp-content/uploads/2016/06/logo-onlinelearning2.png" alt="logo" width="280" class="img-logo-w2"></a><span class="logo-sticky"><a href="../index.html"><img src="/wp-content/uploads/2016/04/logo-onlinelearning1.png" alt="logo" width="60" class="img-logo-w3"></a></span>
            </div>
        </div>
        <nav id="nav-wrap" class="nav-wrap1 col-md-10 col-sm-10 ">
            <div class="container">
                <div id="search-form"><a href="javascript:void(0)" class="search-form-icon"><i id="searchbox-icon" class="fa-search"></i></a><div id="search-form-box" class="search-form-box"><form action="http://webnus.biz/themes/michigan/online-learning/" method="get"><input type="text" class="search-text-box" id="search-box" name="s"></form></div></div>
                <ul id="nav">
                    <li id="menu-item-8032" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10165">
                        <a href="/Home/Index" data-description="start here">Kurumsal</a>
                        <ul class="sub-menu">
                            <li id="menu-item-8030" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-137 current_page_item menu-item-8030"><a href="index.html" data-description="">Hakkımızda</a></li>
                            <li id="menu-item-8036" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8036"><a href="../home-2/index.html" data-description="">İnsan Kaynakları</a></li>
                            <li id="menu-item-9338" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9338"><a href="../home-3-course-hub/index.html" data-description="">Referans</a></li>
                            <li id="menu-item-9357" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9357"><a href="../home-4-one-instructor/index.html" data-description="">Ekip</a></li>
                            <li id="menu-item-9403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9403"><a href="../home-5-one-course/index.html" data-description="">Çözüm Ortaklarımız</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-8032" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10165">
                        <a href="/Home/Lokasyon" data-description="start here">Lokasyonlar</a>
                    </li>
                    <li id="menu-item-8032" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10165">
                        <a href="../home-2/index.html" data-description="start here">Eğitim</a>
                    </li>

                    <li id="menu-item-8032" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10165">
                        <a href="../home-2/index.html" data-description="start here">Galeri</a>
                    </li>
                    <li id="menu-item-8032" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10165">
                        <a href="/home-2/index.html" data-description="start here">Sertifika</a>
                    </li>
                    <li id="menu-item-8032" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10165">
                        <a href="/home-2/index.html" data-description="start here">Takvim</a>
                    </li>
                    <li id="menu-item-8032" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10165">
                        <a href="/home-2/index.html" data-description="start here">Blog</a>
                    </li>



                    <li id="menu-item-8032" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8033">
                        <a href="../contact-us/index.html" data-description="Contact us">İletişim</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="clearfix"></div>
        <div class="header-bottom">
            <div class="container">
                <div class="col-md-3 col-sm-4">
                    <ul id="header-b">
                        <li id="menu-item-7998" class="mega menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7998">
                            <a href="#" data-description=""><i class="fa-reorder"></i>Courses Categories</a>
                            <ul class="sub-menu">
                                <li id="menu-item-8029" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8029">
                                    <section class="wpb_row  ">
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner vc_custom_1456574441254">
                                                <div class="wpb_wrapper">
                                                    <hr class="vertical-space1">
                                                    <div class="course-category-box2">
                                                        <a class="hcolorf" href="../courses/index.html" title="View all Categories">
                                                            <span class="colorf"><i class="fa-book"></i></span>
                                                            <span class="category-name">All Courses</span>
                                                        </a>
                                                    </div>
                                                    <div class="course-category-box2">
                                                        <a href="../course-category/design/index.html" title="Design category">
                                                            <span class="colorf"><i class="fa fa-paint-brush "></i></span>
                                                            <span class="category-name">Design</span>
                                                        </a>
                                                    </div>
                                                    <div class="course-category-box2">
                                                        <a href="../course-category/it-software/index.html" title="IT &amp; Software category">
                                                            <span class="colorf"><i class="fa fa-television "></i></span>
                                                            <span class="category-name">IT &amp; Software</span>
                                                        </a>
                                                    </div>
                                                    <div class="course-category-box2 no-border">
                                                        <a href="../course-category/music/index.html" title="Music category">
                                                            <span class="colorf"><i class="fa fa-music "></i></span>
                                                            <span class="category-name">Music</span>
                                                        </a>
                                                    </div><hr class="vertical-space1">
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner vc_custom_1456573972695">
                                                <div class="wpb_wrapper">
                                                    <hr class="vertical-space1">
                                                    <div class="course-category-box2">
                                                        <a href="../course-category/wordpress/index.html" title="Wordpress category">
                                                            <span class="colorf"><i class="fa fa-wordpress "></i></span>
                                                            <span class="category-name">Wordpress</span>
                                                        </a>
                                                    </div>
                                                    <div class="course-category-box2">
                                                        <a href="../course-category/photoshop/index.html" title="Photoshop category">
                                                            <span class="colorf"><i class="fa fa-picture-o "></i></span>
                                                            <span class="category-name">Photoshop</span>
                                                        </a>
                                                    </div>
                                                    <div class="course-category-box2">
                                                        <a href="../course-category/lifestyle/index.html" title="Lifestyle category">
                                                            <span class="colorf"><i class="fa fa-envira "></i></span>
                                                            <span class="category-name">Lifestyle</span>
                                                        </a>
                                                    </div>
                                                    <div class="course-category-box2 no-border">
                                                        <a href="../course-category/language/index.html" title="Language category">
                                                            <span class="colorf"><i class="fa fa-language "></i></span>
                                                            <span class="category-name">Language</span>
                                                        </a>
                                                    </div><hr class="vertical-space1">
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner vc_custom_1456573982124">
                                                <div class="wpb_wrapper">
                                                    <hr class="vertical-space1">
                                                    <div class="course-category-box2">
                                                        <a href="../course-category/photography/index.html" title="Photography category">
                                                            <span class="colorf"><i class="fa fa-camera "></i></span>
                                                            <span class="category-name">Photography</span>
                                                        </a>
                                                    </div>
                                                    <div class="course-category-box2">
                                                        <a href="../course-category/humanities/index.html" title="Humanities category">
                                                            <span class="colorf"><i class="fa fa-child "></i></span>
                                                            <span class="category-name">Humanities</span>
                                                        </a>
                                                    </div>
                                                    <div class="course-category-box2">
                                                        <a href="../course-category/development/index.html" title="Development category">
                                                            <span class="colorf"><i class="fa fa-code "></i></span>
                                                            <span class="category-name">Development</span>
                                                        </a>
                                                    </div>
                                                    <div class="course-category-box2 no-border">
                                                        <a href="../course-category/medicine/index.html" title="Medicine category">
                                                            <span class="colorf"><i class="fa fa-heartbeat "></i></span>
                                                            <span class="category-name">Medicine</span>
                                                        </a>
                                                    </div><hr class="vertical-space1">
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9 col-sm-8">
                    <form id="topbar-search" role="search" action="http://webnus.biz/themes/michigan/online-learning/" method="get"><div class="col-md-9 col-sm-6 col-xs-12"><input name="s" type="text" class="search-text-box" placeholder="Search For The Courses, Software or Skills You Want to Learn..."></div><div class="col-md-3 col-sm-6 col-xs-12"><input type="submit" id="searchsubmit" value="Search" class="btn" /></div></form>
                </div>
            </div>
        </div>
    </div>
</header>
