<div style="display:none">
    <div class="w-modal modal-contact colorskin-custom  online-t " id="w-contact">
        <h3 class="modal-title">CONTACT</h3><br><div role="form" class="wpcf7" id="wpcf7-f8026-o1" lang="en-US" dir="ltr">
            <div class="screen-reader-response"></div>
            <form action="http://webnus.biz/themes/michigan/online-learning/home-1/#wpcf7-f8026-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="8026" />
                    <input type="hidden" name="_wpcf7_version" value="4.4.2" />
                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f8026-o1" />
                    <input type="hidden" name="_wpnonce" value="bab5cb368f" />
                </div>
                <p>
                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Name (required)" /></span><br />
                    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Your Email (required)" /></span><br />
                    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Subject" /></span><br />
                    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Your Message"></textarea></span><br />
                    <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" />
                </p>
                <div class="wpcf7-response-output wpcf7-display-none"></div>
            </form>
        </div>
    </div>
</div>

<section class="top-bar">
    <div class="container">
        <div class="top-links lftflot"><div class="socialfollow"><a target="_blank" href="#" class="facebook"><i class="fa-facebook"></i></a><a target="_blank" href="#" class="twitter"><i class="fa-twitter"></i></a><a target="_blank" href="#" class="google-plus"><i class="fa-google-plus"></i></a><a target="_blank" href="#" class="linkedin"><i class="fa-linkedin"></i></a></div><h6><i class="fa-envelope-o"></i>info@example.com</h6><h6><i class="fa-phone"></i>Call Us: 123-456-7980</h6></div><div class="top-links rgtflot">
            <a href="#w-login" class="inlinelb topbar-login" target="_self">LOGIN / REGISTER</a><div style="display:none">
                <div id="w-login" class="w-login w-modal colorskin-custom  online-t ">
                    <h3 class="modal-title">LOGIN</h3>		<div id="user-login">
                        <form name="loginform" id="loginform" action="http://webnus.biz/themes/michigan/online-learning/wp-login.php" method="post">
                            <p class="login-username">
                                <label for="user_login">Username</label>
                                <input type="text" name="log" id="user_login" class="input" value="" size="20" />
                            </p>
                            <p class="login-password">
                                <label for="user_pass">Password</label>
                                <input type="password" name="pwd" id="user_pass" class="input" value="" size="20" />
                            </p>

                            <p class="login-remember"><label><input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember Me</label></p>
                            <p class="login-submit">
                                <input type="submit" name="wp-submit" id="wp-submit" class="button button-primary" value="Log In" />
                                <input type="hidden" name="redirect_to" value="index.html" />
                            </p>

                        </form>			<ul class="login-links">
                            <li><a href="../wp-loginc2b6.html?action=lostpassword">Lost your password?</a></li>
                        </ul>
                    </div>
                </div>
            </div><a class="inlinelb topbar-contact" href="#w-contact" target="_self">CONTACT</a>
        </div>
    </div>
</section>
