<section class="parallax-sec  dark  blox      " style=" padding-top:44px; padding-bottom:44px;  background: url('../wp-content/uploads/2016/07/app-sbgs11.jpg') no-repeat center; background-size: cover; min-height:px; max-height:px " data-stellar-background-ratio="0.6">
    <div class="max-overlay" style="background-color:"></div>
    <div data-stellar-ratio="1" class="wpb_row vc_row-fluid ">
        <div class="container">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="max-title2">
                            <h2>SOME FACTS</h2>
                        </div>
                        <div class="vc_row wpb_row vc_inner vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <hr class="vertical-space2">
                                        <div class="max-counter s-counter" data-effecttype="counter" data-counter="1468">
                                            <i class="icon-counter icon-presentation" style="color:#4ccfad"></i>
                                            <span class="max-count">1468</span><h5>Total Courses</h5>
                                        </div><hr class="vertical-space2">
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <hr class="vertical-space2">
                                        <div class="max-counter s-counter" data-effecttype="counter" data-counter="2053">
                                            <i class="icon-counter icon-profile-male" style="color:#4ccfad"></i>
                                            <span class="max-count">2053</span>
                                            <h5>Total Students</h5>
                                        </div>
                                        <hr class="vertical-space2">
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <hr class="vertical-space2">
                                        <div class="max-counter s-counter" data-effecttype="counter" data-counter="1000">
                                            <i class="icon-counter icon-trophy" style="color:#4ccfad"></i>
                                            <span class="max-count">1000</span>
                                            <h5>Total Graduates</h5>
                                        </div>
                                        <hr class="vertical-space2">
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <hr class="vertical-space2">
                                        <div class="max-counter s-counter" data-effecttype="counter" data-counter="168">
                                            <i class="icon-counter icon-circle-compass" style="color:#4ccfad"></i>
                                            <span class="max-count">168</span>
                                            <h5>Total Teachers</h5>
                                        </div>
                                        <hr class="vertical-space2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="vertical-space3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
