
<section class="parallax-sec  blox aligncenter page-title-x    " style=" padding-top:px; padding-bottom:px;  background: url('/wp-content/wora/wora-world-e1502875190739.jpg') no-repeat center;  min-height:720px; " data-stellar-background-ratio="0.7">
    <div class="max-overlay" style="background-color:"></div><div data-stellar-ratio="1" class="wpb_row vc_row-fluid ">
        <div class="container">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <hr class="vertical-space2"><hr class="vertical-space5">
                        <div class="max-title4"><h3>WORA - WORLD OF ROYAL ACADEMY</h3></div><hr class="vertical-space1"><div class="vc_row wpb_row vc_inner vc_row-fluid course-category-box-o">
                            <div class="wpb_column vc_column_container vc_col-sm-2">
                                <div class="vc_column-inner vc_custom_1462182924344">
                                    <div class="wpb_wrapper">
                                        <div class="course-category-box">
                                            <a href="../course-category/design/index.html" title="Design category">
                                                <div class="ccb-content colorf">
                                                    <i class="fa fa-desktop"></i>
                                                    <span class="category-name">Tasarım</span>
                                                </div>
                                                <div class="ccb-hover-content colorb">
                                                    <span class="category-count">1</span>
                                                    <span>Course</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="course-category-box">
                                            <a href="../course-category/language/index.html" title="Language category">
                                                <div class="ccb-content colorf">
                                                    <i class="fa fa-percent "></i>
                                                    <span class="category-name">Microsoft Office</span>
                                                </div>
                                                <div class="ccb-hover-content colorb">
                                                    <span class="category-count">1</span>
                                                    <span>Course</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-2">
                                <div class="vc_column-inner vc_custom_1462183145985">
                                    <div class="wpb_wrapper">
                                        <div class="course-category-box">
                                            <a href="../course-category/it-software/index.html" title="IT &amp; Software category">
                                                <div class="ccb-content colorf">
                                                    <i class="fa fa-file-code-o "></i>
                                                    <span class="category-name">Yazılım</span>
                                                </div>
                                                <div class="ccb-hover-content colorb">
                                                    <span class="category-count">3</span>
                                                    <span>Courses</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="course-category-box">
                                            <a href="../course-category/photography/index.html" title="Photography category">
                                                <div class="ccb-content colorf">
                                                    <i class="fa fa-video-camera"></i>
                                                    <span class="category-name">Video Animasyon</span>
                                                </div>
                                                <div class="ccb-hover-content colorb">
                                                    <span class="category-count">1</span>
                                                    <span>Course</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-2">
                                <div class="vc_column-inner vc_custom_1462174376558">
                                    <div class="wpb_wrapper">
                                        <div class="course-category-box">
                                            <a href="../course-category/music/index.html" title="Music category">
                                                <div class="ccb-content colorf">
                                                    <i class="fa fa-money"></i>
                                                    <span class="category-name">Finans</span>
                                                </div>
                                                <div class="ccb-hover-content colorb">
                                                    <span class="category-count">1</span>
                                                    <span>Course</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="course-category-box">
                                            <a href="../course-category/humanities/index.html" title="Humanities category">
                                                <div class="ccb-content colorf">
                                                    <i class="fa fa-cog"></i>
                                                    <span class="category-name">Kişisel Eğitim</span>
                                                </div>
                                                <div class="ccb-hover-content colorb">
                                                    <span class="category-count">1</span>
                                                    <span>Course</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-2">
                                <div class="vc_column-inner vc_custom_1462174384095">
                                    <div class="wpb_wrapper">
                                        <div class="course-category-box">
                                            <a href="../course-category/wordpress/index.html" title="Wordpress category">
                                                <div class="ccb-content colorf">
                                                    <i class="fa fa-fax"></i>
                                                    <span class="category-name">Muhasebe</span>
                                                </div>
                                                <div class="ccb-hover-content colorb">
                                                    <span class="category-count">2</span>
                                                    <span>Courses</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="course-category-box">
                                            <a href="../course-category/development/index.html" title="Development category">
                                                <div class="ccb-content colorf">
                                                    <i class="fa fa-television "></i>
                                                    <span class="category-name">Film Kurgu Montajı</span>
                                                </div>
                                                <div class="ccb-hover-content colorb">
                                                    <span class="category-count">2</span>
                                                    <span>Courses</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-2">
                                <div class="vc_column-inner vc_custom_1462174390287">
                                    <div class="wpb_wrapper">
                                        <div class="course-category-box">
                                            <a href="../course-category/photoshop/index.html" title="Photoshop category">
                                                <div class="ccb-content colorf">
                                                    <i class="fa fa-briefcase "></i>
                                                    <span class="category-name">Satış Pazarlama</span>
                                                </div>
                                                <div class="ccb-hover-content colorb">
                                                    <span class="category-count">2</span>
                                                    <span>Courses</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="course-category-box">
                                            <a href="../course-category/medicine/index.html" title="Medicine category">
                                                <div class="ccb-content colorf">
                                                    <i class="fa fa-clipboard "></i>
                                                    <span class="category-name">Workshop</span>
                                                </div>
                                                <div class="ccb-hover-content colorb">
                                                    <span class="category-count">1</span>
                                                    <span>Course</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-2">
                                <div class="vc_column-inner vc_custom_1462174404775">
                                    <div class="wpb_wrapper">
                                        <div class="course-category-box">
                                            <a href="../course-category/lifestyle/index.html" title="Lifestyle category">
                                                <div class="ccb-content colorf">
                                                    <i class="fa fa-book  "></i>
                                                    <span class="category-name">Bilgi Yönetimi</span>
                                                </div>
                                                <div class="ccb-hover-content colorb">
                                                    <span class="category-count">1</span>
                                                    <span>Course</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="course-category-box">
                                            <a href="../course-category/business/index.html" title="Business category">
                                                <div class="ccb-content colorf">
                                                    <i class="fa fa-bar-chart "></i>
                                                    <span class="category-name">Uzmanlık Eğitimleri</span>
                                                </div>
                                                <div class="ccb-hover-content colorb">
                                                    <span class="category-count">1</span>
                                                    <span>Course</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>