<div class="row-wrapper-x">    <section class="wpb_row  ">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="max-title2">
                        <h2>EĞİTMENLER</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <article class="our-team">
                        <figure>
                            <a href="http://www.wora.com.tr/profile/muhammedavni">
                                <img src="http://www.wora.com.tr/wp-content/uploads/2016/03/muhammedavnirezaii.png" alt="">
                            </a>
                        </figure>
                        <h2>
                            <a href="http://www.wora.com.tr/profile/muhammedavni">MUHAMMED AVNİ REZAİ</a>
                        </h2>
                        <h5>CEO</h5>
                        <p>
                            Kadir Has Üniversitesi Mezunu. 13 Yıllık reklam sektörü tecrübesi ile sektörel detaylar ile öğrencilerine
                            eğitim vermektedir.
                        </p>
                        <div class="social-team">
                            <a href="http://www.instagram.com/muhammedavni">
                                <i class="fa-instagram"></i>
                            </a>
                            <a href="http://www.facebook.com/muhammedavni">
                                <i class="fa-facebook"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/muhammedavni/">
                                <i class="fa-linkedin"></i>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper"></div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper"></div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <article class="our-team">
                        <figure>
                            <img src="http://www.wora.com.tr/wp-content/uploads/2016/03/fevziucar.jpg" alt="">
                        </figure>
                        <figcaption>
                            <h2>FEVZİ UÇAR</h2>
                            <h5>YMM &amp; EĞİTMEN &amp; YAZAR</h5>
                            <p>
                                Ankara Üniversitesi Siyasi Bilgiler Fakültesinden Mezun olarak, 14 Yıllık Mesleğini Yazarlık ve Eğitmenlik
                                ile devam ettirmektedir.
                            </p>
                        </figcaption>
                    </article>
                </div>
            </div>
        </div>
    </section>
