<section class="container">
    <div class="row-wrapper-x">
        <section class="wpb_row  ">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <hr class="vertical-space3"><div class="vc_row wpb_row vc_inner vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <article class="icon-box11" style="background:;">
                                            <a href="#">
                                                <i class="fa-mortar-board   " style=""></i>
                                            </a><h4>Program</h4>
                                            <p>Üniversite Eğitimi  Sürekli geliştirdiğimiz içeriklerimizle genç dimağlara ulaşmayı hedefliyoruz.</p><a class="magicmore" href="#">Learn More</a>
                                        </article><hr class="vertical-space2">
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <article class="icon-box11     " style="background:;">
                                            <a href="#"><i class="fa-briefcase" style=""></i></a><h4>Şirket Eğitimi</h4>
                                            <p>Şirket ihtiyaçlarıyla güncel eğitimleri optimum noktada buluşturuyoruz.</p><a class="magicmore" href="#">Learn More</a>
                                        </article><hr class="vertical-space2">
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <article class="icon-box11 " style="background:;">
                                            <a href="#"><i class="fa-user" style=""></i></a><h4>Bireysel Eğitim </h4>
                                            <p>İş dünyasının ihtiyaç duyduğu davranışları kazandıran eğitimler sunuyoruz.</p><a class="magicmore" href="#">Learn More</a>
                                        </article><hr class="vertical-space2">
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <article class="icon-box11     " style="background:;">
                                            <a href="#"><i class="fa-pencil" style=""></i></a><h4>Öğrenci Eğitimi</h4>
                                            <p>Kariyer hedefi belirlemek, yeteneklerinizi geliştirmek için yol arkadaşınız biziz.</p><a class="magicmore" href="#">Learn More</a>
                                        </article><hr class="vertical-space2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>