<section class="parallax-sec  dark  blox" style="background: url(&quot;http://www.wora.com.tr/wp-content/uploads/2016/08/new-slider-p4.jpg&quot;) 50% -27.87px / cover repeat; min-height: 640px;"
         data-stellar-background-ratio="0.8">
    <div class="max-overlay" style="background-color:rgba(0,0,0,0.11)"></div>
    <div data-stellar-ratio="1" class="wpb_row vc_row-fluid " style="top: 0px;">
        <div class="container">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <hr class="vertical-space5">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <article class="icon-box13     " style="background:;">
                                            <i class="sl-calendar " style=""></i>
                                            <h4>Eğitim Danışmanlığı</h4>
                                            <p>Kişi ve kurumların gelişiminde rol almaktan mutluyuz.</p>
                                        </article>
                                        <hr class="vertical-space1">
                                        <hr class="vertical-space1">
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <article class="icon-box13     " style="background:;">
                                            <i class="sl-speedometer " style=""></i>
                                            <h4>Dijital Dönüşüm</h4>
                                            <p>Oyunun kuralları değişti, siz de değişen teknolojiyle tanışmalısınız.</p>
                                        </article>
                                        <hr class="vertical-space1">
                                        <article class="icon-box13     " style="background:;">
                                            <i class="sl-rocket " style=""></i>
                                            <h4>Sürdürülebilir Çözüm Ortaklığı</h4>
                                            <p>
                                                Fikir aşamasından hizmet noktasına ve sonrasına değil işinizi kolaylaştırmak
                                                için varız.
                                            </p>
                                        </article>
                                        <hr class="vertical-space1">
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <article class="icon-box13     " style="background:;">
                                            <i class="sl-eyeglass " style=""></i>
                                            <h4>Sektör Duayenleri</h4>
                                            <p>Yıldızlar takımıyla çalışmanın haklı gururunu yaşıyoruz.</p>
                                        </article>
                                        <hr class="vertical-space1">
                                        <hr class="vertical-space1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
