<section class="container">
    <div class="row-wrapper-x">

        <section class="wpb_row  ">
            <div class="aligncenter wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <hr class="vertical-space1">
                        <div class="max-title2"><h2>POPÜLER EĞİTİMLER</h2></div>
                        <div class="container courses-modern">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <article class="modern-grid llms-course-list">
                                        <div class="llms-course-link">
                                            <div class="modern-cat"><i class="fa fa-picture-o "></i><a href="../course-category/photoshop/index.html">Photoshop</a></div>						<div class="modern-feature">
                                                <a href="../course/adobe-photoshop-cc-for-beginners/index.html" title="Adobe Photoshop CC for Beginners"><img src="../wp-content/uploads/2016/05/crs-p-420x330.jpg" alt="Adobe Photoshop CC for Beginners" class="landscape thumbnail michigan_webnus_blog2_img" width="420" height="330"></a><span class="modern-duration">10 days<i class="fa-clock-o"></i></span>
                                            </div>
                                            <div class="modern-content">
                                                <h3 class="llms-title"><a href="../course/adobe-photoshop-cc-for-beginners/index.html">Adobe Photoshop CC for Beginners</a></h3>
                                                <div class="modern-rating"><span class="rating"><img src="../wp-content/themes/michigan/images/stars/rating_on.png" alt="20 votes, average: 4.10 out of 5" title="20 votes, average: 4.10 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_on.png" alt="20 votes, average: 4.10 out of 5" title="20 votes, average: 4.10 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_on.png" alt="20 votes, average: 4.10 out of 5" title="20 votes, average: 4.10 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_on.png" alt="20 votes, average: 4.10 out of 5" title="20 votes, average: 4.10 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_off.png" alt="20 votes, average: 4.10 out of 5" title="20 votes, average: 4.10 out of 5" class="post-ratings-image"></span> <strong>(20 Reviews)</strong></div><div class="llms-price-wrapper"><h4 class="llms-price"><span>This Course is FREE</span></h4></div>
                                            </div>
                                            <div class="clearfix modern-meta">
                                                <div class="col-md-8 col-sm-8 col-xs-8">

                                                    <div class="modern-instructor"><a href="../profile/amanda-dell/index.html"><img src="../wp-content/uploads/avatars/2/57a064b9cf1cd-bpthumb.jpg" class="avatar user-2-avatar avatar-20 photo" width="20" height="20" alt="Profile photo of Amanda Dell">Amanda Dell</a></div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <span class="modern-students" title="Enrolled Students"><i class="sl-people"></i>82</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <article class="modern-grid llms-course-list">
                                        <div class="llms-course-link">
                                            <div class="modern-cat"><i class="fa fa-wordpress "></i><a href="../course-category/wordpress/index.html">Wordpress</a></div>						<div class="modern-feature">
                                                <a href="../course/create-a-website-using-wordpress/index.html" title="Create A Website using WordPress"><img src="../wp-content/uploads/2016/05/course07-01-1-420x330.jpg" alt="Create A Website using WordPress" class="landscape thumbnail michigan_webnus_blog2_img" width="420" height="330"></a><span class="modern-duration">6 days<i class="fa-clock-o"></i></span>
                                            </div>
                                            <div class="modern-content">
                                                <h3 class="llms-title"><a href="../course/create-a-website-using-wordpress/index.html">Create A Website using WordPress</a></h3>
                                                <div class="modern-rating"><span class="rating"><img src="../wp-content/themes/michigan/images/stars/rating_on.png" alt="7 votes, average: 4.43 out of 5" title="7 votes, average: 4.43 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_on.png" alt="7 votes, average: 4.43 out of 5" title="7 votes, average: 4.43 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_on.png" alt="7 votes, average: 4.43 out of 5" title="7 votes, average: 4.43 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_on.png" alt="7 votes, average: 4.43 out of 5" title="7 votes, average: 4.43 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_half.png" alt="7 votes, average: 4.43 out of 5" title="7 votes, average: 4.43 out of 5" class="post-ratings-image"></span> <strong>(7 Reviews)</strong></div><div class="llms-price-wrapper"><h4 class="llms-price"><span>This Course is FREE</span></h4></div>
                                            </div>
                                            <div class="clearfix modern-meta">
                                                <div class="col-md-8 col-sm-8 col-xs-8">

                                                    <div class="modern-instructor"><a href="../profile/elizabeth-cooper/index.html"><img src="../wp-content/uploads/avatars/4/57a064c0b3c56-bpthumb.jpg" class="avatar user-4-avatar avatar-20 photo" width="20" height="20" alt="Profile photo of Elizabeth Cooper">Elizabeth Cooper</a></div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <span class="modern-students" title="Enrolled Students"><i class="sl-people"></i>58</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <article class="modern-grid llms-course-list">
                                        <div class="llms-course-link">
                                            <div class="modern-cat"><i class="fa fa-picture-o "></i><a href="../course-category/photoshop/index.html">Photoshop</a></div>						<div class="modern-feature">
                                                <a href="../course/mastering-adobe-photoshop-cc/index.html" title="Mastering Adobe Photoshop CC"><img src="../wp-content/uploads/2016/05/crs-p02-420x330.jpg" alt="Mastering Adobe Photoshop CC" class="landscape thumbnail michigan_webnus_blog2_img" width="420" height="330"></a><span class="modern-duration">1 days<i class="fa-clock-o"></i></span>
                                            </div>
                                            <div class="modern-content">
                                                <h3 class="llms-title"><a href="../course/mastering-adobe-photoshop-cc/index.html">Mastering Adobe Photoshop CC</a></h3>
                                                <div class="modern-rating"><span class="rating"><img src="../wp-content/themes/michigan/images/stars/rating_on.png" alt="4 votes, average: 4.25 out of 5" title="4 votes, average: 4.25 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_on.png" alt="4 votes, average: 4.25 out of 5" title="4 votes, average: 4.25 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_on.png" alt="4 votes, average: 4.25 out of 5" title="4 votes, average: 4.25 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_on.png" alt="4 votes, average: 4.25 out of 5" title="4 votes, average: 4.25 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_half.png" alt="4 votes, average: 4.25 out of 5" title="4 votes, average: 4.25 out of 5" class="post-ratings-image"></span> <strong>(4 Reviews)</strong></div><div class="llms-price-wrapper"><h4 class="llms-price"><span>This Course is FREE</span></h4></div>
                                            </div>
                                            <div class="clearfix modern-meta">
                                                <div class="col-md-8 col-sm-8 col-xs-8">

                                                    <div class="modern-instructor"><a href="../profile/sara-black/index.html"><img src="../wp-content/uploads/avatars/13/57a06427015b3-bpthumb.jpg" class="avatar user-13-avatar avatar-20 photo" width="20" height="20" alt="Profile photo of Sara Black">Sara Black</a></div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <span class="modern-students" title="Enrolled Students"><i class="sl-people"></i>108</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <article class="modern-grid llms-course-list">
                                        <div class="llms-course-link">
                                            <div class="modern-cat"><i class="fa fa-wordpress "></i><a href="../course-category/wordpress/index.html">Wordpress</a></div>						<div class="modern-feature">
                                                <a href="../course/wordpress-for-beginners/index.html" title="Wordpress for Beginners"><img src="../wp-content/uploads/2016/05/crs-p03-420x330.jpg" alt="Wordpress for Beginners" class="landscape thumbnail michigan_webnus_blog2_img" width="420" height="330"></a><span class="modern-duration">7 days<i class="fa-clock-o"></i></span>
                                            </div>
                                            <div class="modern-content">
                                                <h3 class="llms-title"><a href="../course/wordpress-for-beginners/index.html">WordPress for Beginners</a></h3>
                                                <div class="modern-rating"><span class="rating"><img src="../wp-content/themes/michigan/images/stars/rating_on.png" alt="7 votes, average: 3.71 out of 5" title="7 votes, average: 3.71 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_on.png" alt="7 votes, average: 3.71 out of 5" title="7 votes, average: 3.71 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_on.png" alt="7 votes, average: 3.71 out of 5" title="7 votes, average: 3.71 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_half.png" alt="7 votes, average: 3.71 out of 5" title="7 votes, average: 3.71 out of 5" class="post-ratings-image"><img src="../wp-content/themes/michigan/images/stars/rating_off.png" alt="7 votes, average: 3.71 out of 5" title="7 votes, average: 3.71 out of 5" class="post-ratings-image"></span> <strong>(7 Reviews)</strong></div><div class="llms-price-wrapper"><h4 class="llms-price"><span>Start from $20</span></h4></div>
                                            </div>
                                            <div class="clearfix modern-meta">
                                                <div class="col-md-8 col-sm-8 col-xs-8">

                                                    <div class="modern-instructor"><a href="../profile/richard-saltman/index.html"><img src="../wp-content/uploads/avatars/10/57a0645b0fc11-bpthumb.jpg" class="avatar user-10-avatar avatar-20 photo" width="20" height="20" alt="Profile photo of Richard Saltman">Richard Saltman</a></div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <span class="modern-students" title="Enrolled Students"><i class="sl-people"></i>58</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@{
    Html.RenderPartial("_HomeStatistics");
}
<section class="container">
    <div class="row-wrapper-x">

        <section class="wpb_row  ">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="max-title2"><h3>İŞ ORTAKLARIMIZ</h3></div>
                        <hr class="vertical-space1">
                        <div class="aligncenter">
                            <hr class="vertical-space1">
                            <div class="col-md-12 our-clients-wrap crsl">
                                <ul id="our-clients" class="our-clients crsl">
                                    <li><img alt="" src="../wp-content/uploads/2016/03/trang-1.png" /></li>
                                    <li><img alt="" src="../wp-content/uploads/2016/03/media-1.png" /></li>
                                    <li><img alt="" src="../wp-content/uploads/2016/03/iame-1.png" /></li>
                                    <li><img alt="" src="../wp-content/uploads/2016/03/we-1.png" /></li>
                                    <li><img alt="" src="../wp-content/uploads/2016/03/1-1.png" /></li>
                                    <li><img alt="" src="../wp-content/uploads/2016/03/2-1.png" /></li>
                                    <li><img alt="" src="../wp-content/uploads/2016/03/3-1.png" /></li>
                                    <li><img alt="" src="../wp-content/uploads/2016/03/4-1.png" /></li>
                                </ul>
                            </div>
                            <hr class="vertical-space2">
                        </div>
                        <hr class="vertical-space1">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>