<section class="container">
    <div class="row-wrapper-x">
        <div class="vc_row wpb_row vc_inner vc_row-fluid">
            <div class="max-title2"><h3>WORA AYRICALIKLARI</h3></div>
            <div class="wpb_column vc_column_container vc_col-sm-4">

                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <article class="icon-box     " style="background:;">
                            <i class="icon-alarmclock " style=""></i>
                            <h4>Güncel İçerik</h4>
                            <p>Dünyadaki trendleri yakından takip ediyor, sektörün nabzını tutuyoruz.</p>
                        </article>
                        <article class="icon-box     " style="background:;">
                            <i class="icon-mobile " style=""></i>
                            <h4>Uzman Eğitmen</h4>
                            <p>Alanında uzman, saha bilgi ve tecrübesine sahip eğitmenlerle çalışmaktayız.</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <article class="icon-box     " style="background:;">
                            <i class="fa-pie-chart " style=""></i>
                            <h4>Uluslararası Eğitimler</h4>
                            <p>Uluslararası literatürde kabul gören eğitimlerin güncel halini sunmaktayız.</p>
                        </article>
                        <article class="icon-box     " style="background:;">
                            <i class="icon-briefcase " style=""></i>
                            <h4>Sertifika</h4>
                            <p>Sizi iş dünyasında öne çıkaracak eğitimlerin belgelerini hazırlıyoruz.</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <article class="icon-box     " style="background:;">
                            <i class="icon-bargraph " style=""></i>
                            <h4>Ücretsiz İptal Garantisi</h4>
                            <p>Gönül rahatlığı ile hedeflerinize odaklanın, çünkü Wora ücretsiz iptal garantisi sunuyor.</p>
                        </article>
                        <article class="icon-box     " style="background:;">
                            <i class="sl-share " style=""></i>
                            <h4>Sektörel Formasyon</h4>
                            <p>Sektördeki değişim dinamiklerini iyi okuyor, bunun ışınığında yine yeniden biçimleniyoruz.</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <section class="wpb_row  ">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="max-title2">
                            <h2>EĞİTMENLER</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-3">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <article class="our-team">
                            <figure>
                                <a href="http://www.wora.com.tr/profile/muhammedavni">
                                    <img src="http://www.wora.com.tr/wp-content/uploads/2016/03/muhammedavnirezai.png" alt="">
                                </a>
                            </figure>
                            <h2>
                                <a href="http://www.wora.com.tr/profile/muhammedavni">MUHAMMED AVNİ REZAİ</a>
                            </h2>
                            <h5>CEO</h5>
                            <p>
                                Kadir Has Üniversitesi Mezunu. 13 Yıllık reklam sektörü tecrübesi ile sektörel detaylar ile öğrencilerine
                                eğitim vermektedir.
                            </p>
                            <div class="social-team">
                                <a href="http://www.instagram.com/muhammedavni">
                                    <i class="fa-instagram"></i>
                                </a>
                                <a href="http://www.facebook.com/muhammedavni">
                                    <i class="fa-facebook"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/muhammedavni/">
                                    <i class="fa-linkedin"></i>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-3">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper"></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-3">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper"></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-3">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <article class="our-team">
                            <figure>
                                <img src="http://www.wora.com.tr/wp-content/uploads/2016/03/fevziucar.jpg" alt="">
                            </figure>
                            <figcaption>
                                <h2>FEVZİ UÇAR</h2>
                                <h5>YMM &amp; EĞİTMEN &amp; YAZAR</h5>
                                <p>
                                    Ankara Üniversitesi Siyasi Bilgiler Fakültesinden Mezun olarak, 14 Yıllık Mesleğini Yazarlık ve Eğitmenlik
                                    ile devam ettirmektedir.
                                </p>
                            </figcaption>
                        </article>
                    </div>
                </div>
            </div>
        </section>

</section>